# Python:
*.py[cod]
*.so
*.egg
*.egg-info
__pycache__

# My
NovelEngine.xmind
*.glade~
search/search
search/.*
novel/novels
novel/icons
novel/*.xcf
novel/.*
backend/backend
backend/novels
backend/json
backend/jsons
backend/icons
backend/.*
